<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
            <header id="header">
                <div class="logo">
                    <img  id="header-img" src="https://i.pinimg.com/originals/ed/81/27/ed8127519cfbe593faae99275c9c9a46.jpg" alt="">
                </div>
                <nav id="nav-bar">
                    <ul type="none" >
                        <li><a class="nav-link" href="#caracteristicas">Features</a></li>
                        <li><a class="nav-link" href="#video-informativo">How It Works</a></li>
                        <li><a class="nav-link" href="#lugar-compras">Pricing</a></li>
                    </ul>
                </nav>
            </header>
            <main id="content">
                <div id="conteiner" >
                    <h1>Gatos Misticos</h1>
                </div>
                <section >
                    <form id="email">
                        <input name="email" id="email-text" type="text" placeholder="Ingrese su mail"  required/>
                        <button type="submit">Sumarse</button>
                    </form>
                </section>
                <section id="caracteristcas">
                    <div>
                        <h2>Lorem ipsum</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div>
                        <h2>Lorem ipsum</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div>
                        <h2>Lorem ipsum</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </section>
                <section id="video-informativo">
                    <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/BcxVd_UVUZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </section>
                <section id="sector-compras" >
                    <div id="lugar-compras" >
                        <div class="compras">
                            <h3>Gato mistico Normal</h3>
                            <p><i>$400</i></p>
                            <ul type="none">
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                            </ul>
                            <input  name="boton" type="submit"  value="Comprar">
                        </div>
                        <div class="compras">
                            <h3>Gato mistico Avanzado</h3>
                            <p><i>$800</i></p>
                            <ul type="none">
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                            </ul>
                            <input  name="boton" type="submit" value="Comprar">
                        </div>
                        <div class="compras">
                            <h3>Gato mistico c/Poderes</h3>
                            <p><i>$1600</i></p>
                            <ul type="none">
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                                <li>Lorem ipsum</li>
                            </ul>
                            <input  name="boton"  type="submit"  value="Comprar">
                        </div>
                </section>
            </main>       
            <footer>
                ● Copyright © 2021 - 2022 Gatos Misticos SA
            </footer>       
</body>
</html>