<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div>
            <header id="header">
                <div class="logo">
                    <img  id="header-img" src="https://i.pinimg.com/originals/ed/81/27/ed8127519cfbe593faae99275c9c9a46.jpg" alt="">
                </div>
                <nav id="nav-bar">
                    <ul >
                        <li><a class="nav-link" href="#caracteristicas">Features</a></li>
                        <li><a class="nav-link" href="#video-informativo">How It Works</a></li>
                        <li><a class="nav-link" href="#lugar-compras">Pricing</a></li>
                    </ul>
                </nav>
            </header>
            <div id="content">
                <div id="conteiner" >
                    <p>Gatos Misticos</p>
                </div>
            <section id="email">
                <form id="form" >
                    <input name="email" id="email-text" type="text" placeholder="Ingrese su mail"  required/>
                    <input name="buttom" type="submit" value="Sumarse" >
                </form>
            </section>
            <section id="caracteristcas">
                <div>
                    <h2>Lorem ipsum</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div>
                    <h2>Lorem ipsum</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div>
                    <h2>Lorem ipsum</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </section>
            <section id="video-informativo">
                <iframe id="video" width="560" height="315" src="https://www.youtube.com/embed/BcxVd_UVUZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </section>
            <section id="lugar-compras">
                <div >
                    <div class="compras">
                        <h3>Gato mistico Normal</h3>
                        <p><i>$400</i></p>
                        <ol>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                        </ol>
                        <input  name="boton" type="submit"  value="Comprar">
                    </div>
                    <div class="compras">
                        <h3>Gato mistico Avanzado</h3>
                        <p><i>$800</i></p>
                        <ol>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                        </ol>
                        <input  name="boton" type="submit" value="Comprar">
                    </div>
                    <div class="compras">
                        <h3>Gato mistico c/Poderes</h3>
                        <p><i>$1600</i></p>
                        <ol>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                            <li>Lorem ipsum</li>
                        </ol>
                        <input  name="boton"  type="submit"  value="Comprar">
                    </div>
                </div>
            </section>
            <footer>
                
                hola
            </footer>
        </div>
</body>
</html>