*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

:root{
    --amarillo:#FFF9CA;
    --naranja:#FFDEB4;
    --rojo:#FFB4B4;
    --violeta:#B2A4FF;
}


body{
    background-color:var(--naranja);
}
/*Header*/
header{
    background-color: var(--amarillo);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    justify-content: space-between;
    position: fixed;
}
header #logo, header #nav-bar{
    flex-grow: 1;
}

header img{
    width: 50%;
    position: relative;
    top: 0.2vw;
}

#logo{
    width: 50%;
}

#nav-bar{
    width: 100%;
}

#nav-bar ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}
#nav-bar ul li{
    margin: 0px 4%;
    padding: 0.5vw 0.5vw;
    background-color: var(--rojo) ;
    border-radius: 4px;
}
/*Header*/
/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10% 0px 0px 0px;
    font-size: 1.5vw;
}

#section-email{
    width: 30%;
}

#email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5%  0px;
}

#email input{
    width: 100%;
    border-radius:5px;
    margin: 3% 0px;
    padding:1vw 2vw ;
    border: 0px;
}

#email button{
    margin: 3% 0px;
    width: 50%;
    border-radius:5px;
    padding:1vw 2vw ;
    border: 0px;
    background-color: var(--violeta);
}

#caracteristcas{
    display: flex;
    flex-direction: column;
    margin:6% 0%;
    justify-content: center;
}
#video-informativo{
    width: 52%;
}

#video-informativo iframe{
    width: 100%;    
    margin:5% 0px ;
}

#sector-compras{
    height: 100%;
    width: 100%;
}

#lugar-compras{
    display: flex;
    justify-content: space-around;
}
.compras{
    border: solid 2px var(--rojo);
    border-radius: 4px;
    width: 20%;
    margin: 5% 3%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    text-align: center;
}

.compras button{
    border: 0px;
    background-color: var(--violeta);
    margin: 10% 0px;
    padding: 1vw 2vw;
    border-radius:5px;
}

/*main*/
/*footer*/
footer{
    background-color: var(--violeta);
    display: flex;
    justify-content: space-between;
    font-size: 1.1vw;
}
footer div{
    margin:1vw 3vw;
}
footer #seguir{
    display: flex;
    flex-direction: column;
}
#redes{
    display: flex;
    margin:1vw 0%;
    justify-content: space-between;
}
footer p{
    font-size: 1vw;
}
/*footer*/